player-connection-mode=Listen
player-connection-guid=1853525256
player-connection-debug=0
player-connection-project-name=FabricServer
player-connection-ip=192.168.178.56
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
headless=
